.toggle-button{
    height: 25px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}
.toggle-button:focus{
    outline: none
}
.toggle-button__line{
    width: 30px;
    height: 2px;
    background: black;
}

@media(min-width: 775px){
    .toggle-button{
        display: none
    }
}